@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

html, body {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  height: 100%;
  line-height: 1;
}

body {
  background-image: url('https://images.unsplash.com/photo-1515106426117-7483c8b91e9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  transition: all .3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 576px) {
  body {
    background-size: auto 160%;
  }
}

.text-shadow{
  text-shadow: 0 0 10px #000;
}

.todoList_content {
  width: 500px;
}
@media (max-width: 576px) {
  .todoList_content {
    width: 91%;
  }
}

.todoList_check:checked ~ span {
  text-decoration: line-through;
  color: #999;
}

.todoList_check:checked ~ i {
  display: block;
}

.active {
  color: #333333;
  border-bottom: 2px solid #333333;
}

input {
  opacity: .8;
}

.animate-moon{
  animation: spin 60s linear infinite;
  /* filter: drop-shadow(0 0 10px rgba(255,255,255, .5));
  filter: drop-shadow(0 0 10px rgba(0,0,0, .5)); */
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}